@model HomeViewModel

<h2>Alla böcker som finns i biblioteket</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Bild</th>
            <th>Titel</th>
            <th>Författare</th>
            <th>Tillgänglig för lån</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td><img src="@book.ImageThumbnail" /> </td>
                <td>@book.Name</td>
                <td>@book.Author</td>
                <td>@book.IsAvailable</td>
            </tr>
        }

    </tbody>
</table>
@*<div class="row">
    @foreach (var book in Model.Books)
    {
        <partial name="_BookCard" model="book"/>
    }
</div>*@
