@model Customer

<h1>Vill du radera denna användare?</h1>
<form asp-controller="Customer" asp-action="DeleteCustomer" method="post">

    <label for="Id">Id</label>
    <input asp-for="CustomerId" type="number" id="Id" name="CustomerId" value="@Model.CustomerId" readonly />
    <label for="FirstName">Förnamn</label>
    <input asp-for="FirstName" type="text" id="fname" name="FirstName" readonly />
    <br />
    <label for="LastName">Efternamn</label>
    <input asp-for="LastName" type="text" id="lname" name="LastName" readonly />
    <br />
    <label for="email">Email</label>
    <input asp-for="Email" type="text" id="email" name="email" readonly />
    <br />
    <button type="submit">Radera</button>
</form>