@model Customer

<div class="caption-full">
    <h1>@Model.GetFullName()</h1>
    <h3 class="pull-right">@Model.Email</h3>
    <h4>Borrowed Books</h4>
</div>

<div>
    <button type="button" name="edit">Editera</button>
</div>

<div>
    <button type="button" name="delete">Radera</button>
</div>