@model Customer

<h1>Uppdaterat användare!</h1>
<div class="caption-full">
    <h2>Förnamn: @Model.FirstName</h2>
    <h2>Efternamn: @Model.LastName</h2>
    <h2>Email: @Model.Email</h2>
</div>
<form>
    <button asp-controller="Customer" asp-action="List" type="button">Tillbaka till lista</button>
</form>
