@model Customer

<h1>Uppdatera: </h1>
<h2>@Model.GetFullName()</h2>
<h2>@Model.Email</h2>

<form asp-controller="Customer" asp-action="EditCustomer" method="post">

    <label for="Id">Id</label>
    <input asp-for="CustomerId" type="number" id="Id" name="CustomerId" value="@Model.CustomerId" readonly />
    <label for="FirstName">Förnamn</label>
    <input asp-for="FirstName" type="text" id="fname" name="FirstName" />
    <br />
    <label for="LastName">Efternamn</label>
    <input asp-for="LastName" type="text" id="lname" name="LastName" />
    <br />
    <label for="email">Email</label>
    <input asp-for="Email" type="text" id="email" name="email" />
    <br />
    <button type="submit">Uppdatera</button>
</form>