@model Customer

    <form asp-controller="Customer" asp-action="Add" method="post">
        <label for="FirstName">Förnamn</label>
        <input asp-for="FirstName" type="text" id="fname" name="FirstName" />
        <br />
        <label for="LastName">Efternamn</label>
        <input asp-for="LastName" type="text" id="lname" name="LastName" />
        <br />
        <label for="email">Email</label>
        <input asp-for="Email" type="text" id="email" name="email" />
        <br />
        <button type="submit">Lägg till</button>
    </form>

    
