@model CustomerListViewModel

<h1>Customers</h1>
@foreach (var customer in Model.Customers)
{
    <partial name="_CustomerCard" model="customer"/>
}

<form>
    <button asp-controller="Customer" asp-action="Form" type="submit"> Lägg till en ny användare</button>
</form>
