@model Book

<div class="thumbnail">
    <img src="@Model.ImageThumbnail" alt="Book Image" />
    <div class="caption-full">
        <h1>@Model.Name</h1>
        <h3 class="pull-right">@Model.Author</h3>
        <h3 class="#">@Model.ISBN</h3>
    </div>
</div>