@model AvailibleBooksViewModel

<h2>Tillgängliga böcker i biblioteket</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Bild</th>
            <th>Titel</th>
            <th>Författare</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            <tr>
                <td><img src="@book.ImageThumbnail" /> </td>
                <td>@book.Name</td>
                <td>@book.Author</td>
            </tr>
        }

    </tbody>
</table>

